#address_listing
{
    float : left;
}

#cells_array
{
    float : left;
    padding-left : 100px;
}

#cells_array_border
{
    border : 1px solid black;
    overflow : auto;
}

#cells_array a {
    color : white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
